@import url('https://fonts.googleapis.com/css?family=Kanit:200,300,400,700&display=swap');

html, body {
	font-family: 'Kanit', sans-serif;
}

#landingPage {
	background: linear-gradient(0deg, rgba(244,59,71,0.8) 0%, rgba(69,58,148,0.8) 100%), url('./bg.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

.social a{
  text-decoration: none;
  padding: 5px;
  color:#303030;
  text-align: center;
  transition: 0.4s all;
  cursor: pointer;
  border: solid;
  border-width: 1.4px;
  border-color: #D3D3D3;
  border-radius: 25px;
}

.timer > p {
	background-color: white;
	color: black;
	font-size: 35px;
	width: 75px;
	border-radius: 20px; 
}

.timer > p::after {
	content: attr(data-label);
	display: block;
	width: 100%;
	color: #564897;
	text-align: center;
	font-size: 10px;
	font-weight: 300;
}

.btn-custom {
	border-radius: 20px;
	color: white !important;
	background-color: #564897 !important;
}

.btn-custom2 {
	font-size: 11px;
	border-radius: 20px;
	color: black !important;
	background-color: white !important;
	position: absolute; 
	top: 20px; 
	right: 15px;
}

.side-pill {
	color: white !important; 
	position: absolute; 
	top: 40%; 
	right: 60px; 
}

.loader {
	z-index: 999;
	background-color: black;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	position: absolute;
}