@import url('https://fonts.googleapis.com/css?family=Kanit:200,300,400,700&display=swap');

html, body {
	font-family: 'Kanit', sans-serif;
}

body {
	background: linear-gradient(0deg, rgba(244,59,71,0.8) 0%, rgba(69,58,148,0.8) 100%), url('./bg.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

.timer > p {
	background-color: white;
	color: black;
	font-size: 35px;
	width: 75px;
	border-radius: 20px; 
}

.timer > p::after {
	content: attr(data-label);
	display: block;
	width: 100%;
	color: #564897;
	text-align: center;
	font-size: 10px;
	font-weight: 300;
}

.btn-custom {
	border-radius: 20px;
	color: white !important;
	background-color: #564897 !important;
}