---
layout: default
---

<div class="container d-flex align-items-center" style="height: 100vh;">
  <div class="d-inline w-100">  
    <div class="row justify-content-center">
      <div class="col">
        <img src="{{ '/assets/logo.png' | relative_url }}">
        <h1 class="text-center">ESYA'19</h1>
        <p>Techfusion - Tracing the Distant</p>
        <h4>COMING SOON</h4>
        <div class="timer">
          <div data-ng-text="DAYS">35</div>
          <div data-ng-text="HOURS">16</div>
          <div data-ng-text="MINUTES">56</div>
          <div data-ng-text="SECONDS">15</div>
        </div>
        <div class="btn btn-small btn-dark">Follow us for updates now!</div>
      </div>
    </div>
  </div>
</div>  

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>